GOOGLE_PROJECT_ID={{ backup_google_project_id }}
GOOGLE_APPLICATION_CREDENTIALS=/home/pi/backup/service-account-key.json
RESTIC_PASSWORD={{ backup_restic_password }}
RESTIC_REPOSITORY=gs:{{ backup_google_bucket }}:/
