GOOGLE_PROJECT_ID={{ backup_google_project_id }}
GOOGLE_APPLICATION_CREDENTIALS={{ seafile_db_backup_dir }}/service-account-key.json
RESTIC_PASSWORD={{ backup_restic_password }}
RESTIC_REPOSITORY=gs:{{ backup_google_bucket }}:/
