# For Docker on Raspberry Pi 5 64bit follow Debian install at
# https://docs.docker.com/engine/install/debian/#install-using-the-repository
#
# Notes:
# Raspberry Pi 5 64bit architeture is `arm64` ( check `dpkg --print-architecture` )
#
# Docker installation

- name: Install, configure, and start Docker
  # Blocks create logical groups of tasks. Blocks also offer ways to handle task errors,
  # similar to exception handling in many programming languages.
  block:
    - name: Check if Docker is already present
      # Execute commands on targets
      # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/command_module.html
      ansible.builtin.command: which docker
      failed_when: false
      changed_when: false
      check_mode: false
      register: docker_already_installed

    - name: Add Docker's official GPG key (IF docker_already_installed)
      become: true
      # Add or remove an apt key
      # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/apt_key_module.html
      ansible.builtin.apt_key:
        url: https://download.docker.com/linux/debian/gpg
        state: present
      when: docker_already_installed.rc == 1

    - name: Add docker "stable" repository to apt (IF docker_already_installed)
      become: true
      # Add and remove APT repositories
      # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/apt_repository_module.html
      ansible.builtin.apt_repository:
        repo: deb [arch=arm64] https://download.docker.com/linux/debian bookworm stable
        state: present
      when: docker_already_installed.rc == 1

    - name: Install Docker Engine (IF docker_already_installed)
      become: true
      # Manages apt-packages
      # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/apt_module.html
      ansible.builtin.apt:
        name: "{{ item }}"
        state: present
      loop:
        - docker-ce
        - docker-ce-cli
        - containerd.io
        - docker-buildx-plugin
        - docker-compose-plugin
      when: docker_already_installed.rc == 1

    - name: Add user to docker group
      become: true
      # Manage user accounts
      # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/user_module.html
      ansible.builtin.user:
        name: pi
        groups: docker
        append: true

    - name: Create directory structure for my Dockers
      # Manage files and file properties
      # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/file_module.html
      ansible.builtin.file:
        path: "{{ config_dir }}{{ docker_dir }}"
        state: directory
        mode: "0755"

    - name: Print directory path for my Dockers
      # Manage files and file properties
      # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/file_module.html
      ansible.builtin.debug:
        msg: homedir="{{ config_dir }}{{ docker_dir }}"
