UNIFY_HOST=10.0.0.1
UNIFY_APIKEY=redactedREDAC_REDACTEDreda_REDAC
UNIFY_SITEID=redacted-1234-5678-9012-redacted1234

UNIFY_TRAFFICMACHINGLISTID_FIRST=redacted-1234-5678-9012-redacted1234
UNIFY_TRAFFICMACHINGLISTNAME_FIRST="Some list name"

UNIFY_TRAFFICMACHINGLISTID_SECOND=redacted-1234-5678-9012-redacted1234
UNIFY_TRAFFICMACHINGLISTNAME_SECOND="Other list name"
